*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--zoom-buttons_text);
}
:root{
    --zoom-share_screen:#4ac516;
    --zoom-buttons_text:#f8fbf8;
    --zoom-secondary:#4b4b4c;
    --zoom-footer:#222222;
    --zoom-danger:#ac2129;
}
.text_align_center_padding{
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/* Responsive image */
img{
    max-width: 100%;
    display: flex;
    /* height: la scegli tu; */
}
.row{
    display: flex;
    flex-wrap: wrap;
    /* in realtà wrap non viene utilizzato però per ora lo metto per ricordarmi in futuro quando le img saranno responsive */
}
.column{
    width: calc((100% / 14) * 2);
}

main{
    height: 90vh;
    width: 100vw;
    background-color: black;
    position: relative;
}
footer{
    height: 10vh;
    width: 100vw;
    background-color: var(--zoom-footer)
}
.site_main{
    height: 80%;
}

.container{
        width: 80%;
        max-width: 1500px;
        margin: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
}
.debug .container{
}
/* .webcam{
    height: 10000px;
} */

.container_mountain{
    position: relative;
}
.mic-and-name{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1rem ;
    background-color: #4b4b4c9a;
}

.top_right{
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;
    gap: 10px;
}
.speacker_view{
    background-color:#4b4b4c9a;
}
.fullscreen{
    background-color:#4b4b4c9a;

}

/* #region footer */
.container_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.end_meeting{
    height: 10vh;
    background-color: var(--zoom-secondary);
    color: var(--zoom-danger);
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.actions_container{
    display: flex;
}
.icons{
    display: flex
}
.icon_text{
    display: ;
}
.green{
    color: var(--zoom-share_screen);
}
/* #endregion */